<div class="post-main-view" id="{{_id}}">
    <div class="post-main-bar">
        <div class="post-info light">
            Posted by <span class="post-username">{{user.username}} </span> on {{date}}
        </div>
        <div class="post-title bold">
            {{title}}
        </div>
        <div class="post-description">
            {{body}}
        </div>
    </div>
    <div class="post-vote-bar">
        {{> vote}}
        <span class="comment-count">{{comments.length}} comments</span>
    </div>    
    <div id="comment-container">
    </div>
</div>